/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
  font-family: 'Press Start 2P', cursive !important;
}
.App {
  text-align: center;
}
body{
  margin: 0 !important;
}



